absl-py
aiohttp
afinn
alembic
ccxt==4.1.56
chardet
distlib
feedparser
filelock
flatbuffers
gast
google-auth-oauthlib
grpcio
h5py
joblib
keras-preprocessing
lightgbm
matplotlib
multidict
nltk
numpy==1.26.4
opt-einsum
optuna
pandas==2.1.4
platformdirs
pluggy
protobuf
pyproject-api
python-dotenv
requests
scikit-learn
seaborn
six
sqlalchemy
ta
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.16.1
tensorflow-estimator
termcolor
toml
tox
typing-extensions
virtualenv
wrapt
xgboost
xrpl-py
websockets
